.app-container {
  width: 100%;
  min-height: 1310px;
  background-color: rgba(140, 173, 201, 0.692);
  display: flex;
}
.center-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: blueviolet;
}
